<div class="container">
  <ag-grid-angular
    #agGrid
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [sideBar]="sideBar"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="true"
    [frameworkComponents]="frameworkComponents"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    (gridReady)="onGridReady($event)"
    (rowSelected)="onRowSelected($event)"
  ></ag-grid-angular>
</div>
